* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('font/digitalFont4.ttf');
}

body {
    padding: 20px;
    padding-top: 0px;
    font-family: 'Signika Negative', sans-serif;
}

.background {
    background-repeat: no-repeat;
    background-position: 30% 6%;
    background-attachment: fixed;
    position: fixed;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9;
    overflow: hidden;
    transition: opacity 1s ease;
}

#dayBg {
    background-color: #96c6e0;
    background-image: url(./image/bgDay.jpg);
}

#nightBg {
    background-color: #111;
    background-image: url(./image/bgNight.jpg);
    opacity: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75.4vh;
}

#firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#logo img {
    width: 80px;
    margin-right: 24px;
}

#logoTextCont #logoText {
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 2px #222222;
}

#logoTextCont .text {
    font-size: 18px;
    font-weight: bold;
}

#secondSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondItems {
    display: flex;
    align-items: center;
}

.secondItems:nth-child(2) {
    margin-left: 20px;
}

.secondText {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
}

#alarmTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #c5c4c4;
    user-select: none;
}

#alarmContainer {
    background: rgb(31, 30, 30);
    color: white;
    border-radius: 15px;
    padding: 15px 20px;

}

#timeCont {
    padding: 1px 31px;
    background-image: url(image/digital.png);
    background-repeat: no-repeat;
    background-size: 250px;
}

#modeBtn {
    background: black;
    width: 85px;
    font-size: 13px;
    border-radius: 6px;
    text-align: center;
    padding: 4px 0;
    box-shadow: 1px 1px 2px white;
    cursor: pointer;
}

#modeBtn:active {
    box-shadow: 0px 0px 2px white;
}

.digit {
    font-size: 100px;
    font-family: 'digital-clock-font';
    color: #ff0000;
    text-shadow: 0 0 15px rgba(230, 58, 82, 0.8);
    cursor: default;

    transition: none !important;
}

#incDecBtn {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 0 0;
    transition: none !important;
}

#hourIncDec {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 25px;
    transition: none !important;
    user-select: none;
}

#minIncDec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-size: 25px;
    transition: none !important;
    user-select: none;
}

.buttonShadow {
    padding: 0px 8px;
    box-shadow: 2px 2px 5px rgb(92, 89, 89);
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
}

.buttonShadow:active {
    box-shadow: 0px 0px 5px rgb(92, 89, 89);
}

#hour-one {
    margin-left: -14px;
}

#minute-one {
    margin-left: 2px;
}

#hour-two {
    margin-left: -3px;
}

#minute-two {
    margin-left: -3px;
}

#chooseSoundText {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 15px 0;
    text-align: center;
}

#chooseSound {
    background: rgb(36, 36, 36);
    color: white;
    border-radius: 15px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 260px;

    position: relative;
}

#soundName {
    font-size: 30px;
    text-transform: uppercase;
}

#soundImage {
    width: 150px;
    text-align: center;
    margin: 10px 0;
}

#soundImage img {
    width: 100%;
}

#previousSound {
    position: absolute;
    top: 90px;
    left: 15px;
    font-size: 30px;
    cursor: pointer;
}

#nextSound {
    position: absolute;
    top: 90px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

#playSound {
    cursor: pointer;
}

#previousSound img,
#nextSound img,
#playSound img {
    width: 20px;
}

#playSound {
    width: 20px;
    height: 20px;
}

button {
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

#firstShow,
#secondShow,
#thirdShow {
    text-align: center;
    display: none;
}

#showText {
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

#ringingText {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
}

.blink {
    animation: example 0.6s linear infinite alternate;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#message {
    margin: 50px 0 0 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 2px #222222;
}

.changeColor {
    color: black;
    transition: color 1s ease;
}

@media screen and (max-width: 1030px) {
    #secondSection {
        flex-direction: column;
        justify-content: center;
    }

    .secondItems {
        display: block;
    }

    .secondItems:nth-child(2) {
        margin-top: 20px;
        margin-left: -20px;
    }
}

@media screen and (max-width: 500px) {

    #logo img {
        width: 70px;
    }

    #logoTextCont #logoText {
        font-size: 36px;
    }

    #logoTextCont .text {
        font-size: 16px;
    }
}